<!DOCTYPE html>
<html>
<head>
	<title>Vue Gallery</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<img src="loading.gif" class="loading_image" width="300">
<div id="app">

	<aside>
		<div class="section_filter filterzz">
			<p>Select Section:</p>
			<input type="radio" id="hot" value="hot" v-model="section" @change="getImugr">
			<label for="hot">Hot</label>

			<input type="radio" id="top" value="top" v-model="section" @change="getImugr">
			<label for="top">Top</label>

			<input type="radio" id="user" value="user" v-model="section" @change="getImugr">
			<label for="user">User</label>
		</div>

		<div class="Viral_filter filterzz">
			<p>Include Viral?</p>
			<input type="radio" id="yes" value="true" v-model="viral" @change="getImugr">
			<label for="yes">Yes</label>

			<input type="radio" id="no" value="false" v-model="viral" @change="getImugr">
			<label for="no">No</label>
		</div>

		<div class="window_filter filterzz">
			<p>Select window:</p>
			<input type="radio" id="day" value="day" v-model="window" @change="getImugr">
			<label for="day">Day</label>

			<input type="radio" id="week" value="week" v-model="window" @change="getImugr">
			<label for="week">week</label>

			<input type="radio" id="month" value="month" v-model="window" @change="getImugr">
			<label for="month">Month</label>

			<input type="radio" id="year" value="year" v-model="window" @change="getImugr">
			<label for="year">Year</label>

			<input type="radio" id="all" value="all" v-model="window" @change="getImugr">
			<label for="all">All</label>
		</div>

		<div class="sort_filter filterzz">
			<p>Sort by:</p>
			<input type="radio" id="viral" value="viral" v-model="sort" @change="getImugr">
			<label for="viral">Viral</label>

			<input type="radio" id="top" value="top" v-model="sort" @change="getImugr">
			<label for="top">Top</label>

			<input type="radio" id="time" value="time" v-model="sort" @change="getImugr">
			<label for="time">Time</label>

			<input type="radio" id="rising" value="rising" v-model="sort" @change="getImugr">
			<label for="rising">Rising</label>

		</div>
		
	</aside>
	<main>
		<ul v-if = "responseAvailable == true" class="imgur_gallery">
			<li v-for="(result,key) in filteredResults" :key="result.id" class="image_item">
				<div class="image_item_wrp">
					<img class="lazy" v-bind:alt="result.title" v-bind:data-src="result.images[0].link" @click="activeImage" />
					<div class="imgur_info">
						<h2>{{result.title}}</h2>
						<p class="meta_data"><span>Up votes:{{result.ups }} </span><span> Down votes:{{result.downs }}</span><span> Score:{{result.score}}</span></p>
						<p class="image_desc">{{result.images[0].description }}</p>
					</div>
					
				</div>
				<a href="javascript:;" @click="closeImage" class="close_btn">CLOSE</a>
				<span v-if="key == Object.keys(result).length">{{lazyloader()}}</span>
			</li>
		</ul>
	</main>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
<script src="js/main.js"></script>
</html>
